<html>
    <head>
        <title>Cavalier Lacrosse: Admin Panel</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
        <link href="/design/admin.css" rel="stylesheet"/>
    </head>
    <!-- NEED FORM VALIDATION -->

    <body onload="populateOnload()">

        <!-- Navbar -->
        <nav class="navbar navbar-expand" id="reg-navbar">
            <a class="navbar-brand" href="#"><img height="50em" src="/design/resources/pictures/cavs_logo_transparent.jpg"/></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Boys
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <div id="youth-boys">
                                <a class="dropdown-item" href="#">Boys</a>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div id="youth-girls">
                                <a class="dropdown-item" href="#">Boys</a>
                            </div>
                            
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Girls
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <div id="youth-boys">
                                <a class="dropdown-item" href="#">Boys</a>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div id="youth-girls">
                                <a class="dropdown-item" href="#">Boys</a>
                            </div>
                            
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mens
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <div id="youth-boys">
                                <a class="dropdown-item" href="#">Boys</a>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div id="youth-girls">
                                <a class="dropdown-item" href="#">Boys</a>
                            </div>
                            
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Store
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <div id="youth-boys">
                                <a class="dropdown-item" href="#">Boys</a>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div id="youth-girls">
                                <a class="dropdown-item" href="#">Boys</a>
                            </div>
                            
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pictures.html">Pictures</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        US Lacrosse
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="https://www.uslaxmagazine.com/?utm_source=LA_navigation">USLaxMagazine</a>  
                            <a class="dropdown-item" href="http://www.uslacrosse.org/membership.aspx?utm_source=LA_navigation">Membership</a>     
                            <a class="dropdown-item" href=""></a>
                            <a class="dropdown-item" href=""></a>
                            <a class="dropdown-item" href=""></a>
                            <a class="dropdown-item" href=""></a>
                            <a class="dropdown-item" href=""></a>                
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="api/user/login">Login</a>
                    </li>

                    <li class="nav-item" id="adminId">
                        <a class="nav-link" href="api/user/login">Admin Panel</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- End Navbar -->

        <div class="container" id="admin-panel">
            <div class="row chooser">
                <div class="col-sm active" id="create-team-btn">
                    Create Team Account
                </div>
                <div class="col-sm" id="add-team-btn">
                    Add Team 
                </div>
                <div class="col-sm" id="edit-team-btn">
                    Edit Teams
                </div>
                <div class="col-sm" id="upload-photo-btn">
                    Upload Team Photos
                </div>
            </div>
            <div class="row form-content">
                <div id="team-create" >
                    <h1> Create Team Account </h1>
                    <hr>
                    <p> Account to control a specific teams page. </p>
                    <form id="create-user-form" role="form" method="post" action="/api/user/create-user">
                        <div class="form-group">
                            <label for="username">Username: </label> <input class="form-control" type="text" name="username"> <br>
                            <label for="password">Password: </label> <input class="form-control" type="password" name="password"> <br>
                            <Label for="Privilege">Privilege: </label> <br/>
                                <input type="radio" name="admin" value="true"> Admin
                                <input type="radio" name="admin" value="false" checked> Coach <br><br>
                            
                       
                            {{# if error }}
                                <section> {{ error }} </section>
                            {{/if}}
                         
                            <button class="btn btn-primary" type="submit">Create</button>
                        </div>
         
                    </form>
                </div>
                
                <div id="add-team" class="hidden">
                    <h1> Add Team </h1>
                    <hr>
                    <form name="addTeamForm" onsubmit="return validateTeamForm()" role="form" method="post" action="/api/team/create-team">
                        <div class="form-group">
                            <label>Team Type</label>
                            <select class="form-control" name="gender">
                                <option value="Boys">Boys</option>
                                <option value="Girls">Girls</option>
                                <option value="Mens">Mens</option>
                            </select>
                            <br>
            
                            <label>Year/Name</label>
                            <input class="form-control" type="text" name="year">
                            <br>
            
                            <label>Team Account: </label>
                            <select class="form-control" id="team-account-drop-down" name="owner">  </select>
                            <br>
            
            
                            <label>About</label><br>
                            <textarea class="form-control" name="about" rows="8" cols="100"> </textarea>
                            <br>
            
                            <label>Coaches</label>
                            <button type="button" onclick="addField('coaches', 'coaches-form')"> + </button> <br>
                            <div id="coaches-form">
                                <input class="form-control" type="text" name="coaches[]"> 
                            </div>
                            <br>
            
                            <label>Tournaments</label>
                            <button type="button" onclick="addField('tournaments', 'tournaments-form')"> + </button> <br>
                            <div id="tournaments-form">
                                <input class="form-control" type="text" name="tournaments[]"> 
                            </div>
                            <br>
            
                            <label>Tryouts</label>
                            <button type="button" onclick="addField('Tryouts', 'tryouts-form')"> + </button> <br>
                            <div id="tryouts-form">
                                <input class="form-control" type="text" name="tryouts[]">
                                <br>
                            </div>
                            <br>
            
                            <label>Location</label>
                            <input class="form-control" type="text" name="location">
                            <br>
            
                            <label>Fees</label><br>
                            <textarea class="form-control" name="fees" rows="4" cols="50"> </textarea>
                            <br>
            
                            <label>Other</label><br>
                            <textarea class="form-control" name="other" rows="8" cols="100"> </textarea>
                            <br>
            
                            <label>Roster</label>
                            <button type="button" onclick="addRosterRow('roster-table')"> + </button>
                            <table border="1">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Postion</th>
                                </tr>
                            </thead>
                            <tbody id="roster-table">
                                <tr>
                                    <td><input type ="text" name="number[]"></td>
                                    <td><input type ="text" name="first[]"></td>
                                    <td><input type ="text" name="last[]"></td>
                                    <td><input type ="text" name="position[]"></td>
                                </tr>
                                <tr>
                                    <td><input type ="text" name="number[]"></td>
                                    <td><input type ="text" name="first[]"></td>
                                    <td><input type ="text" name="last[]"></td>
                                    <td><input type ="text" name="position[]"></td>
                                </tr>
                                <tr>
                                    <td><input type ="text" name="number[]"></td>
                                    <td><input type ="text" name="first[]"></td>
                                    <td><input type ="text" name="last[]"></td>
                                    <td><input type ="text" name="position[]"></td>
                                </tr>
                                <tr>
                                    <td><input type ="text" name="number[]"></td>
                                    <td><input type ="text" name="first[]"></td>
                                    <td><input type ="text" name="last[]"></td>
                                    <td><input type ="text" name="position[]"></td>
                                </tr>
                            </tbody>
                            </table>
                            <br>
                            <button class="btn btn-primary" type="submit">Save</button>
                        </div>
                        
                    </form>
                </div>
                
                <div id="edit-team" class="hidden">
                    <h1> Edit Team </h1>
                    <hr>
                    <div class="form-group">
                        <label> Select Team: </label> 
                        <select class="form-control" id="edit-team-select" onclick="editTeamForm(this.value)">  </select>
                        <div id="edit-team-form">  </div>
                    </div>
        
                </div>
        
                <div id="upload-photo" class="hidden">
                    <div class="form-group">
                            <h1>Upload Team Photos</h1>
                            <hr>
                            <select class="form-control" id="upload-photo-select" onclick="uploadPhotoForm(this.value)">  </select>
                            <div id="upload-photo-form">  </div>
                    </div>
         
                </div>
            </div>
        </div>
        

        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/views/admin.js"></script>
        <script src="/design/adminstyle.js"></script>
        
    </body>
</html>