/* Home Page */
/* navbar */
html,body{
    width: 100%;
}
@font-face {
    font-family: 'Play';
    src: url("resources/fonts/Play-Regular.ttf") format("truetype");
}
body{
    font-family: 'Play', sans-serif;
}
.navbar{
    position: fixed;
    z-index: 2;
    width: 100%;
}
#reg-navbar{
    color: white;
    background-color: black;
}
.nav-link{
    text-decoration: none;
}
.nav-link:link{
    color: white;
}
.nav-link:visited {
    color: white;
}
.nav-link:hover {
    color: #FF8C00;
    border-bottom: 1px solid Black;
}
.hidden{
    display: none;
}
#admin-panel{
    padding-top: 8em;
}
.chooser{
    background-color: #FF8C00;
    color: white;
    text-align: center;
    padding: 1em;
    cursor: pointer;
    border-radius: 0.5em 0.5em 0 0;
}
.active{
    color: navy;
}
.form-content{
    padding: 2em;
    border: 1px solid #FF8C00;
    margin-bottom: 5em;
}
.form-control{
    display: inline;
}
.btn-primary{
    background-color: navy;
}
.title{
    border-bottom: solid 1px black;
    width: 100%;
}


/* roster table [team] */
table{
  width: 90%;
  text-align: center;
  background-color: #eee;
  border: 1px solid #eee;
  border-collapse: separate;
}
td, th {
  border-color: white;
  padding: 8px;
  color: black;
}
tr:nth-child(even) {
  background-color: #fff;
  border-color: #eee;
}

th {
  background-color: #fff;
}

td input{
    border: 0;
    background-color: transparent;
}

.img-thumbnail{
    height: 200px;
    width: 200px;
}
.image-remove{
    display: none;
}
.image-label{
    cursor: pointer;
}
:checked+label {
    border-color: #ddd;
  }
  
:checked+label::before {
    border-color: navy;
    transform: scale(1);
}
  
:checked+label img {
    transform: scale(0.9);
    border-color: navy;
    box-shadow: 0 0 5px #333;
    z-index: -1;
}
#logout-btn{
    margin-top: -3em;
}