/* Home Page */
/* navbar */

@font-face {
  font-family: 'Blockletter';
  src: url("resources/fonts/Blockletter.otf") format("opentype");
}
@font-face {
  font-family: 'Play';
  src: url("resources/fonts/Play-Regular.ttf") format("truetype");
}

html,body{
  width: 100vw;
  overflow-x: hidden;
}

body{

  font-family: 'Play', sans-serif;
}

.fullscreen{
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

.navbar{
    position: fixed;
    z-index: 2;
    width: 100%;
}
#over-background{
    color: white;
    transition: 0.5s;
}
#reg-navbar{
    color: white;
    background-color: navy;
}
.jumbotron{
    top: 0px;
    padding: 0;
    z-index: -1;
}
#gallery{
    top: 0px;
    padding-top: 5em;
    z-index: -1;
}
.photogallery{
  padding: 0;
  border-top: 10px solid #FF6600;
  border-bottom: 10px solid #FF6600;
  margin-bottom: 0em;
}
.home-photo{
    padding: 0;
    overflow: hidden;
    margin: 0;
}
.home-photo img{
  height: auto;
  min-width: 100%;
}
.nav-link{
    text-decoration: none;
}
.nav-link:link{
    color: white;
}
.nav-link:visited {
    color: white;
}
.nav-link:hover {
    color: #FF6600;
    border-bottom: 1px solid Black;
}
.col-lg{
    text-align: center;
}
.info-col{
    border: 3px solid white;
    border-radius: 8px;
    margin: 2em;
}
.image_center{
    margin: auto;
    margin-top: 3em;
}


/* Design for team program information */
.row{
    display: flex;
}
.col-sm{
    flex: 1;
}


/* ORANGE: #FF8C00; */

.team-card-div{
  width: 70vw;
  margin-left: 15vw;
  margin-right: 15vw;
}

.team-card{
    background-color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 1em;
}
.team-card-text{
    background-color: white;
    height: 100%;
    padding: 0.5em;
}
.team-card-text h3, .team-card-text span{
  text-align: center;
  display: block;
}
.team-card-text span{
  padding-top: 10px;
    border-top: solid black 1px;
}

.team-card-title{
    border-bottom: solid black 1px;
    padding-bottom: 0.5em;
    color: #154890;
}

.register-info{
    padding: 2em;
}
.register-title{
    border-bottom: solid black 1px;
    padding-bottom: 0.5em;
}
#registration{
    padding-bottom: 10em;
}
/* Month header */

#calendar ul{
    list-style-type: none;
}
.month {
    padding: 70px 25px;
    width: 100%;
    background: navy;
    text-align: center;
  }

  /* Month list */
  .month ul {
    margin: 0;
    padding: 0;
  }

  .month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  /* Previous button inside month header */
  .month .prev {
    float: left;
    padding-top: 10px;
  }

  /* Next button */
  .month .next {
    float: right;
    padding-top: 10px;
  }

  /* Weekdays (Mon-Sun) */
  .weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
  }

  .weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
  }

  /* Days (1-31) */
  .days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
  }

  .days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
  }

  /* Highlight the "current" day */
  .days li .active {
    padding: 5px;
    background: navy;
    color: white !important
  }

  /* sign up information */
  .upload{
      padding-bottom: 5em;
  }



/* HEADERS */

h1{
  font-family: 'Blockletter';
  font-size: 5em;
  letter-spacing: 0.075em;
  word-spacing: 0.3em;
  line-height: 15vh;
  height: inherit;
}
h2{
  font-family: 'Blockletter';
  font-size: 3em;
  letter-spacing: 0.075em;
  word-spacing: 0.3em;
  line-height: 15vh;
  height: inherit;
}
.section-title{
  text-align: center;
  margin: auto;
}

/* title banner [index] */
.cav_title{
  text-align: center;
  background-color: #154890;
  color: white;
  height: 18vh;
  line-height: 15vh;
  margin-bottom: 3vh;
  border-bottom: 20px solid #FF6600;

}
.cav_title_1{
  height: inherit;
}

/* title "welcome to cavalier lacrosse" in photo slideshow [index] */
.photo_title{
  margin-top: -90vh;/*
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;*/
}

/* navbar item spacing */
.nav-item{
  margin-right: 5px;
  margin-left: 5px;
}

/* title banner [team] */
.teams_header{
  text-align: center;
  background-color: #154890;
  color: white;
  height: 15vh;
  line-height: 15vh;
  margin-top: 10vh;/*
  border-bottom: 10px solid #FF6600;*//*
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;*/
}
.teams_header_div{
  background-color: #154890;
  border-top: 1px solid #154890;
}


/* general body blocks [team] */
.teams_body{
  width: 70vw;
  margin-left: 15vw;
  margin-right: 15vw;
}
.teams_body h3{
  color: #FF6600;
  display: block;
}
.teams_section{
  background-color: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}


/* cards (for coaches) [team] */
.card{
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 0;
  background-color: #154890;
  color: white;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
.cardbox{
  padding: 20px
}


/* lists [team] */
.teams_body ul{

  display: block;
}


/* roster table [team] */
.teams_body table{
  width: 65vw;
  text-align: center;
  border: 0;
  background-color: #eee;
}
.teams_body td, .teams_body th {
  border: 1px solid #fff;
  padding: 8px;
  color: black;
}
.teams_body tr:nth-child(even) {
  background-color: #fff;
}

.teams_body th {
  background-color: #fff;
}

.flyer-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 75vh;
}


.update{
  background-color: white;/*#ea4300;*/
  margin: 0;
  color: black;/*
  padding-bottom: 2em;*/
  padding-top: 1em;/*
  border: 100px solid #154890;
  border-bottom: 50px;*/
}

.container{
  padding: 0;
}

/*#header_img{
  background-image: url("/resources/pictures/bg_cav-1-2.jpg");
  background-size: 100vw auto;
}*/

#intro-text{
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 40%;
  color: white;
}

#intro-photo-div{
  position: relative;
}

.section-title-div{
  margin-top: 10vh;
}