/* Home Page */
/* navbar */
html,body{
    width: 100%;
}
.navbar{
    position: fixed;
    z-index: 2;
    width: 100%;
}
#over-background{
    color: white;
}
#reg-navbar{
    color: white;
    background-color: black;
}
.jumbotron{
    top: 0px;
    padding: 0;
    z-index: -1;
}
#gallery{
    top: 0px;
    padding-top: 5em;
    z-index: -1;
}
.photogallery{
    padding: 0;
}
.nav-link{
    text-decoration: none;
}
.nav-link:link{
    color: white;
}
.nav-link:visited {
    color: white;
}
.nav-link:hover {
    color: SeaGreen;
    border-bottom: 1px solid Black;
}
.col-lg{
    text-align: center;
}
.info-col{
    border: 3px solid white;
    border-radius: 8px;
    margin: 2em;
}
.image_center{
    margin: auto;
    margin-top: 3em;
}
#home-content{
    padding-top: 5em;
}

/* Design for team program information */
.row{
    display: flex;
}
.col-sm{
    flex: 1;
}
.team-card{
    background-color: #FF8C00;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 1em;
    border-radius: 0.75em;
}
.team-card-text{
    background-color: white;
    height: 100%;
    padding: 0.5em;
    border-radius: 0.5em;
}

.team-card-title{
    border-bottom: solid black 1px;
    padding-bottom: 0.5em;
}

.register-info{
    padding: 2em;
}
.register-title{
    border-bottom: solid black 1px;
    padding-bottom: 0.5em;
}
#registration{
    padding-bottom: 10em;
}
/* Month header */

#calendar ul{
    list-style-type: none;
}
.month {
    padding: 70px 25px;
    width: 100%;
    background: navy;
    text-align: center;
  }
  
  /* Month list */
  .month ul {
    margin: 0;
    padding: 0;
  }
  
  .month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  
  /* Previous button inside month header */
  .month .prev {
    float: left;
    padding-top: 10px;
  }
  
  /* Next button */
  .month .next {
    float: right;
    padding-top: 10px;
  }
  
  /* Weekdays (Mon-Sun) */
  .weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
  }
  
  .weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
  }
  
  /* Days (1-31) */
  .days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
  }
  
  .days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
  }
  
  /* Highlight the "current" day */
  .days li .active {
    padding: 5px;
    background: navy;
    color: white !important
  }

  /* sign up information */ 
.upload{
    padding-bottom: 5em;
}